*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    display:flex;
    justify-content:center;
    padding:30px;
    background:white;
}

.ad-container{   
    width:800px;
    background:#fff;
    border-radius:15px;
    padding: 15px;
    box-shadow:0 2px 10px rgba(0,0,0,.15);
    border: 1px  solid  #ddd;
    
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    padding:14px  14px  8px;
}

.left{
    display:flex;
    gap:10px;
}

.logo{
    width:44px;
    height:44px;
    border: 1px  solid  #ddd;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.logo  span{
    color: #e53935;
    font-size: 26px;
    font-weight: bold;
}

.title{
    font-size: 22px;
    font-weight: bold;
}
.dot{
    color: #23a455;
}

.header h3{
    font-size:17px;
    font-weight:600;
}

.sponsored{
    color:#777;
    font-size:13px;
    margin-top: 2px;
}
.sponsored i{
    margin-left: 5px;
}

.right{
    display:flex;
    gap: 18px;
    color: #555;
    font-size:larger;
    padding: 10px;
    font-weight: bolder;
}
.online{
width: 10px;
height: 10px;
background: green;
border-radius: 50px;
border: 1px solid  rgb(252,247,247);
margin: 32px 1px 1px -22px;
}
#image{
    width: 300px;
    height: 300px;
    border: 1px solid  rgb(238,236,236);
    border-radius: 10%;
}


    .description{
    padding:0 15px;
    font-size:15px;
    line-height:1.6;
    margin-bottom: 10;
}

.blue{
    color:#1877f2;
    font-weight:bold;
}

.features{
    padding: 0  15px;
    font-size: 14px;
    color: #333;
    gap:10px;
    margin-bottom: 15px;
}

.features div{
    font-size:16px 0;
    color:#444;
}

.features i{
    color:#10b981;
    margin: right 10px;
}

.products{
    display:flex;
    overflow-x: auto;
    gap:20px;
    padding:0  10px 15px;
    flex-wrap: wrap;
}

.card{
    border:2px solid #ddd;
    border-radius:10%;
    width:300px;
    font-size: 0.9em;
    margin: bold;
    height: autof;
    
}

.card img{
    width: 500px;
    height:300px;
    align-item:center
}

.info{
    padding:10px;
    display: flex;
    gap: 20px;
}
.info p{
    font-size: 12px;
    height: 32px;
    overflow: hidden;
}
button{

    margin-top: 2px;
    background:#e4e6eb;
    padding: 10px;
    border: none;
   border-radius: 10px;
   font-weight: bold;
   cursor: pointer;
   transition: 3s;
}


button:hover{
    background:#d8dbe0;
}
.container{
    padding: 10px;
    margin: 17px;
    border: 1px  solid  rgb(252,247,247);
    border-radius: 15px;
    background:rgb(248, 248, 248);
    
}

.footer{
    display:flex;
    gap:30px;
    padding:15px;
    border-top:1px solid #ddd;
    align-items: center;
    justify-content: space-between;
}

.left-flooter{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #555;
}
.left-flooter  i{
    color: #1877f2;
}

.left-flooter{
    color: #1877f2;
}
.right-flooter{
    display: flex;
    align-items: center;
    gap: 25px;
    color: #666;
}
.products::-webkit-scrollbar
{
    height: 8px;
}
.products::-webkit-scrollbar-thumb{
    background: #bbb;
    border-radius: 20px;
}
